<div class="section">

  <h2>Reply to &#8220;<%= link_to h(@topic.subject), @topic %>&#8221; by <%= link_to h(@topic.author.name), @topic.author %></h2>

  <% form_for([@topic, @reply]) do |f| %>
    <%= f.error_messages %>
    <p><%= f.text_area :body %></p>
    <p class="note">You can use <a href="http://hobix.com/textile/" title="Textile Reference">Textile</a> to format your reply.</p>
    <p><%= f.submit "Reply" %> <%= link_to "Cancel", @topic %></p>
  <% end %>

</div>