<div class="topic section">

  <h2><%= link_to h(@topic.subject), @topic %></h2>

  <div class="authorship">
    posted by <%= link_to h(@topic.author.name), @topic.author %></a>
    <%= time_ago_in_words(@topic.created_at) %> ago
    (<%= @topic.replies.count %> <%= @topic.replies.count == 1 ? "reply" : "replies" %>)
  </div>

  <div class="body">
    <%= textilize h(@topic.body) %>
  </div>

  <div class"replies">

    <%= render :partial => "reply", :collection => @topic.replies %>

  </div>

  <p class="navigation">
    <%= link_to "Reply", ["new", @topic, "reply"] %>
  </p>

</div>
