<div class="section">

  <% form_for(:user, @user, current_user_path, :html => {:method => :put, :id => "edit_user"}) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %><br/>
      <%- if @user.name.blank? -%>
      <span class="note">This should be your real name, you'll be able to add your character names next.</span>
      <%- end -%>
    </p>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :time_zone %><br />
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
    </p>

    <%- unless @user.name.blank? -%>
    <p>Characters</p>
    <ul>
      <% for character in @user.characters %>
      <li><%= armory_link(character) %> (<%= link_to "Delete", character, :confirm => 'Are you sure?', :method => :delete %>)</li>
      <% end %>
      <li><%= link_to "Add Character", new_character_path %></li>
    </ul>
    <%- end -%>

    <p>
      <%= f.submit "Update" %> <%= link_to "Cancel", @user %>
    </p>
  <% end %>

</div>