<div class="section">

<h2>New Event</h2>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :raid_id, "Raid" %><br />
    <%= f.collection_select(:raid_id, Raid.all, :id, :title, {:include_blank => true})
     %>
  </p>

  <p>
    <%= f.label :title %> <span class="note">(Optional)</span><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :begins_at %><br />
    <select class="split-date" id="event_begins_at" name="event[begins_at(1i)]" style="display:none">
      <option value=""></option>
      <option value="2009">2009</option>
    </select>
    <select id="event_begins_at-mm" name="event[begins_at(2i)]">
      <option value=""></option>
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <select id="event_begins_at-dd" name="event[begins_at(3i)]">
      <option value=""></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select> &mdash;
    <select id="event_begins_at_4i" name="event[begins_at(4i)]">
      <option value="00">12 AM</option>
      <option value="01">01 AM</option>
      <option value="02">02 AM</option>
      <option value="03">03 AM</option>
      <option value="04">04 AM</option>
      <option value="05">05 AM</option>
      <option value="06">06 AM</option>
      <option value="07">07 AM</option>
      <option value="08">08 AM</option>
      <option value="09">09 AM</option>
      <option value="10">10 AM</option>
      <option value="11">11 AM</option>
      <option value="12">12 PM</option>
      <option value="13">01 PM</option>
      <option value="14">02 PM</option>
      <option value="15">03 PM</option>
      <option value="16">04 PM</option>
      <option value="17">05 PM</option>
      <option value="18">06 PM</option>
      <option selected="selected" value="19">07 PM</option>
      <option value="20">08 PM</option>
      <option value="21">09 PM</option>
      <option value="22">10 PM</option>
      <option value="23">11 PM</option>
    </select> :
    <select id="event_begins_at_5i" name="event[begins_at(5i)]">
      <option value="00">00</option>
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="45">45</option>
    </select>
  </p>

  <p>
    <%= f.label :ends_at %><br />
    <select class="split-date" id="event_ends_at" name="event[ends_at(1i)]" style="display:none">
      <option value=""></option>
      <option value="2009">2009</option>
    </select>
    <select id="event_ends_at-mm" name="event[ends_at(2i)]">
      <option value=""></option>
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <select id="event_ends_at-dd" name="event[ends_at(3i)]">
      <option value=""></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select> &mdash;
    <select id="event_ends_at_4i" name="event[ends_at(4i)]">
      <option value=""></option>
      <option value="00">12 AM</option>
      <option value="01">01 AM</option>
      <option value="02">02 AM</option>
      <option value="03">03 AM</option>
      <option value="04">04 AM</option>
      <option value="05">05 AM</option>
      <option value="06">06 AM</option>
      <option value="07">07 AM</option>
      <option value="08">08 AM</option>
      <option value="09">09 AM</option>
      <option value="10">10 AM</option>
      <option value="11">11 AM</option>
      <option value="12">12 PM</option>
      <option value="13">01 PM</option>
      <option value="14">02 PM</option>
      <option value="15">03 PM</option>
      <option value="16">04 PM</option>
      <option value="17">05 PM</option>
      <option value="18">06 PM</option>
      <option value="19">07 PM</option>
      <option value="20">08 PM</option>
      <option value="21">09 PM</option>
      <option value="22">10 PM</option>
      <option value="23">11 PM</option>
    </select> :
    <select id="event_ends_at_5i" name="event[ends_at(5i)]">
      <option value=""></option>
      <option value="00">00</option>
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="45">45</option>
    </select>
  </p>

  <p>
    <%= f.submit "Create" %> <%= link_to "Cancel", events_path %>
  </p>
<% end %>

</div>