<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Descensus in Cuniculi Cavum</title>

  <%= stylesheet_link_tag "screen" %>
</head>

<body>

<h1><%= link_to "Cuniculi Cavum <span class=\"alt\">of</span> The Forgotten Coast", topics_path %></h1>

<%= render_flash %>

<%= yield %>

<div id="footer">
<div id="navigation">
  <ul>
  <%- if logged_in? -%>
    <li><%= link_to h(current_user.name), current_user_path %></li>
    <li><%= link_to "Log Out", logout_path %></li>
    <li class="new_topic"><%= link_to "New Post", new_topic_path %></li>
    <li class="topics"><%= link_to "Topics", topics_path %></li>
    <%- if current_user.officer? -%><li class="topics"><%= link_to "Users", users_path %></li><%- end -%>
  <%- else -%>
    <li><%= link_to "Log In / Register", login_path %></li>
  <%- end -%>
    <li><a href="http://ambethia.lighthouseapp.com/projects/19474-cuniculi-cavum/overview" title="Issue Tracking">Bugs</a></li>
    <li><a href="http://github.com/ambethia/cuniculicavum.com" title="Source Code">Source</a></li>
  </ul>
</div>

<p id="copyright">
  By <a href="http://ambethia.com">Ambethia</a>.&nbsp;&nbsp;
  Copyright &copy; 2008 Jason L Perry, most rights reserved.
</p>
</div>

</body>
</html>
